# Explore here

In [1]:
# Your code here
import pandas as pd
import numpy as np
import ast

import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.datasets import make_regression
from sklearn.datasets import load_wine

from sklearn.model_selection import train_test_split

# supervisado
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# no supervisado
from sklearn.neighbors import NearestNeighbors

from sklearn.metrics import accuracy_score

from sklearn.metrics import mean_squared_error, r2_score

import warnings
warnings.filterwarnings('ignore')

In [2]:
print("----(1). IMPORTO EL PRIMER DATASET----")
df1 = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv')
df1.head(2)

----(1). IMPORTO EL PRIMER DATASET----

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [4]:
print("----(2). IMPORTO EL SEGUNDO DATASET----")
df2 = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_credits.csv')
df2.head(2)

----(2). IMPORTO EL SEGUNDO DATASET----

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [6]:
print("----(3). UNO LAS DOS TABLAS POR MEDIO DE LOS ATRIBUTOS ID Y MOVIE_ID Y LA IMPRIMO----\n")
# Unir las tablas por medio de los atributos id y movie_id
df_unido = pd.merge(df1, df2, left_on='id', right_on='movie_id')

# Imprimir las primeras filas de la tabla unida
print(df_unido.head())

----(3). UNO LAS DOS TABLAS POR MEDIO DE LOS ATRIBUTOS ID Y MOVIE_ID Y LA IMPRIMO----

      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  ...  \
0  [{"name": "Ingenious Film Partners", "id": 289...  ...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...  ...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...  ...
3  [{"name": "Legendary Pictures", "id": 923}, {"...  ...
4        [{"name": "Walt Disney Pictures", "id": 2}]  ...

                                    spoken_languages    status  \
0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1           [{"iso_639_1": "en", "name": "English"}]  Released
2  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3           [{"iso_639_1": "en", "name": "English"}]  Released
4           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                    title_x vote_average vote_count movie_id  \
0                                    Avatar          7.2      11800    19995
1  Pirates of the Caribbean: At World's End          6.9       4500      285
2                                   Spectre          6.3       4466   206647
3                     The Dark Knight Rises          7.6       9106    49026
4                               John Carter          6.1       2124    49529

                                    title_y  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 24 columns]

In [7]:
df_unido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  movie_id              4803 non-null   int64
 21  title_y               4803 non-null   object
 22  cast                  4803 non-null   object
 23  crew                  4803 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [8]:
print("----(4). LIMPIO LA TABLA GENERADA Y SOLO DEJAR LAS VARIABLES MOVIE_ID, TITLE, OVERVIEW, GENRES, KEYWORDS, CAST Y CREW----\n")
# Seleccionar las columnas relevantes
df_unido_y_limpio = df_unido[['movie_id', 'title_x', 'overview', 'genres', 'keywords', 'cast', 'crew']]

# Imprimir las primeras filas de la tabla limpia
print(df_unido_y_limpio.head())

----(4). LIMPIO LA TABLA GENERADA Y SOLO DEJAR LAS VARIABLES MOVIE_ID, TITLE, OVERVIEW, GENRES, KEYWORDS, CAST Y CREW----

   movie_id                                   title_x  \
0     19995                                    Avatar
1       285  Pirates of the Caribbean: At World's End
2    206647                                   Spectre
3     49026                     The Dark Knight Rises
4     49529                               John Carter

                                            overview  \
0  In the 22nd century, a paraplegic Marine is di...
1  Captain Barbossa, long believed to be dead, ha...
2  A cryptic message from Bond’s past sends him o...
3  Following the death of District Attorney Harve...
4  John Carter is a war-weary, former military ca...

                                              genres  \
0  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                            keywords  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...
4  [{"id": 818, "name": "based on novel"}, {"id":...

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

In [9]:
df_unido_y_limpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title_x   4803 non-null   object
 2   overview  4800 non-null   object
 3   genres    4803 non-null   object
 4   keywords  4803 non-null   object
 5   cast      4803 non-null   object
 6   crew      4803 non-null   object
dtypes: int64(1), object(6)
memory usage: 262.8+ KB

In [10]:
print("----(5). TRANSFORMO LOS DATOS JSON (genres y keywords)----")
import ast

def extract_names(column):
    try:
        data = ast.literal_eval(column)
        if isinstance(data, list):
            return [d['name'] for d in data]
        return []
    except (ValueError, SyntaxError):
        return []

# Transformar las columnas JSON a listas de nombres
df_unido_y_limpio['genres'] = df_unido_y_limpio['genres'].apply(extract_names)
df_unido_y_limpio['keywords'] = df_unido_y_limpio['keywords'].apply(extract_names)

# Imprimir las primeras filas para verificar
print(df_unido_y_limpio[['genres', 'keywords']].head())

----(5). TRANSFORMO LOS DATOS JSON (genres y keywords)----
                                          genres  \
0  [Action, Adventure, Fantasy, Science Fiction]
1                   [Adventure, Fantasy, Action]
2                     [Action, Adventure, Crime]
3               [Action, Crime, Drama, Thriller]
4           [Action, Adventure, Science Fiction]

                                            keywords
0  [culture clash, future, space war, space colon...
1  [ocean, drug abuse, exotic island, east india ...
2  [spy, based on novel, secret agent, sequel, mi...
3  [dc comics, crime fighter, terrorist, secret i...
4  [based on novel, mars, medallion, space travel...

In [11]:
print("----(6). SELECCIONO LOS 3 PRIMEROS NOMBRES DE CAST Y EL NOMBRE DEL DIRECTOR DE CREW----")
def extract_top_three_cast(cast):
    try:
        cast_list = ast.literal_eval(cast)
        if isinstance(cast_list, list):
            return [d['name'] for d in cast_list[:3]]
        return []
    except (ValueError, SyntaxError):
        return []

def extract_director(crew):
    try:
        crew_list = ast.literal_eval(crew)
        if isinstance(crew_list, list):
            for member in crew_list:
                if member['job'] == 'Director':
                    return member['name']
        return np.nan
    except (ValueError, SyntaxError):
        return np.nan

# Transformar las columnas `cast` y `crew`
df_unido_y_limpio['cast'] = df_unido_y_limpio['cast'].apply(extract_top_three_cast)
df_unido_y_limpio['crew'] = df_unido_y_limpio['crew'].apply(extract_director)

# Imprimir las primeras filas para verificar
print(df_unido_y_limpio[['cast', 'crew']].head())

----(6). SELECCIONO LOS 3 PRIMEROS NOMBRES DE CAST Y EL NOMBRE DEL DIRECTOR DE CREW----
                                               cast               crew
0  [Sam Worthington, Zoe Saldana, Sigourney Weaver]      James Cameron
1     [Johnny Depp, Orlando Bloom, Keira Knightley]     Gore Verbinski
2      [Daniel Craig, Christoph Waltz, Léa Seydoux]         Sam Mendes
3      [Christian Bale, Michael Caine, Gary Oldman]  Christopher Nolan
4    [Taylor Kitsch, Lynn Collins, Samantha Morton]     Andrew Stanton

In [12]:
print("----(7). QUITO LOS ESPACIOS ENTRE LAS PALABRAS EN GENERES, CAST, CREW Y KEYWORDS")
def remove_spaces(column):
    return [x.replace(" ", "") for x in column]

# Aplicar la función para quitar espacios
df_unido_y_limpio['genres'] = df_unido_y_limpio['genres'].apply(remove_spaces)
df_unido_y_limpio['cast'] = df_unido_y_limpio['cast'].apply(remove_spaces)
df_unido_y_limpio['crew'] = df_unido_y_limpio['crew'].apply(lambda x: x.replace(" ", "") if isinstance(x, str) else x)
df_unido_y_limpio['keywords'] = df_unido_y_limpio['keywords'].apply(remove_spaces)

# Imprimir las primeras filas para verificar
print(df_unido_y_limpio[['genres', 'cast', 'crew', 'keywords']].head())

----(7). QUITO LOS ESPACIOS ENTRE LAS PALABRAS EN GENERES, CAST, CREW Y KEYWORDS
                                         genres  \
0  [Action, Adventure, Fantasy, ScienceFiction]
1                  [Adventure, Fantasy, Action]
2                    [Action, Adventure, Crime]
3              [Action, Crime, Drama, Thriller]
4           [Action, Adventure, ScienceFiction]

                                            cast              crew  \
0  [SamWorthington, ZoeSaldana, SigourneyWeaver]      JamesCameron
1     [JohnnyDepp, OrlandoBloom, KeiraKnightley]     GoreVerbinski
2      [DanielCraig, ChristophWaltz, LéaSeydoux]         SamMendes
3      [ChristianBale, MichaelCaine, GaryOldman]  ChristopherNolan
4    [TaylorKitsch, LynnCollins, SamanthaMorton]     AndrewStanton

                                            keywords
0  [cultureclash, future, spacewar, spacecolony, ...
1  [ocean, drugabuse, exoticisland, eastindiatrad...
2  [spy, basedonnovel, secretagent, sequel, mi6, ...
3  [dccomics, crimefighter, terrorist, secretiden...
4  [basedonnovel, mars, medallion, spacetravel, p...

In [13]:
print("----(8). CREO LA COLUMNA TAGS----")
def create_tags(row):
    overview = row['overview'] if isinstance(row['overview'], str) else ""
    genres = " ".join(row['genres']) if isinstance(row['genres'], list) else ""
    keywords = " ".join(row['keywords']) if isinstance(row['keywords'], list) else ""
    cast = " ".join(row['cast']) if isinstance(row['cast'], list) else ""
    crew = row['crew'] if isinstance(row['crew'], str) else ""
    
    return overview + " " + genres + " " + keywords + " " + cast + " " + crew

# Crear la columna `tags`
df_unido_y_limpio['tags'] = df_unido_y_limpio.apply(create_tags, axis=1)

# Imprimir las primeras filas para verificar
print(df_unido_y_limpio[['tags']].head())

----(8). CREO LA COLUMNA TAGS----
                                                tags
0  In the 22nd century, a paraplegic Marine is di...
1  Captain Barbossa, long believed to be dead, ha...
2  A cryptic message from Bond’s past sends him o...
3  Following the death of District Attorney Harve...
4  John Carter is a war-weary, former military ca...

In [14]:
df_unido_y_limpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title_x   4803 non-null   object
 2   overview  4800 non-null   object
 3   genres    4803 non-null   object
 4   keywords  4803 non-null   object
 5   cast      4803 non-null   object
 6   crew      4773 non-null   object
 7   tags      4803 non-null   object
dtypes: int64(1), object(7)
memory usage: 300.3+ KB

In [15]:
print("----(9). CONSTRUYO EL MODELO KNN Y RECOMIENDO UNAS MOVIES CON RESPECTO A LA PELICULA 'AVATAR'----")

# Vectorizar el texto
vec_model = CountVectorizer(stop_words='english')
vectors = vec_model.fit_transform(df_unido_y_limpio['tags']).toarray()

# Calcular la similitud coseno
similarity = cosine_similarity(vectors)

# Definir la función de recomendación
def recommend(movie):
    # Obtener el índice de la película en el dataframe
    movie_index = df_unido_y_limpio[df_unido_y_limpio["title_x"] == movie].index[0]
    # Obtener las distancias de similitud coseno
    distances = similarity[movie_index]
    # Ordenar las películas por similitud y obtener las 5 más similares
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    
    # Imprimir los títulos de las películas recomendadas
    for i in movie_list:
        print(df_unido_y_limpio.iloc[i[0]]['title_x'])

# Ejemplo de uso de la función de recomendación
recommend("Avatar")

----(9). CONSTRUYO EL MODELO KNN Y RECOMIENDO UNAS MOVIES CON RESPECTO A LA PELICULA 'AVATAR'----
Titan A.E.
Aliens vs Predator: Requiem
Aliens
Battle: Los Angeles
Independence Day